@import url(//fonts.googleapis.com/css?family=Roboto:300,400,500&subset=latin,cyrillic-ext)
@require Widget
@require Progress
@require Destination
@require TypeSelector
@require Variant
@require PointsMap
@require MapPointBalloon

